
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="/User/TopThreeCustomerGraph">Top 3 customers</a>
<br />
<br />
<br />

<a href="/User/TopThreeCustomerGraph">Top 3 customers</a>
<br />
<br />
<br />

<a href="/Vendor/Top3VendorChart">Top 3 Vendors</a>]
<br />
<br />
<br />
<a href="/Category/CategoryProductAmountChart">category vs product chart</a>
<br />
<br />
<br />
<a href="/user/TopCustomerDetails">Top Customer Details</a>
<br />
<br />
<br />



<a href="/vendor/VendorWithMaxBrand">Vendor With Maximum Number of Brands</a>


<br />
<br />
<br />



<a href="/product/TopLaptopDetails">Top Laptop</a>
<br />
<br />
<br />



<a href="/user/TopSellerReferenceDetails">Top Seller Reference Details</a>
<br />
<br />
<br />



<a href="/user/ProductBoughtByBuyers">Product Bought By Buyers</a>
<br />
<br />
<br />

<a href="/sales/index">Sales Report</a>

